@media (min-width: 1600px) {

    .base-btn2, .base-btn1 {
        width: 20%;
    }

    .navbar .base-btn1 {
        width: 10%;
    }

    .base-btn1, .base-btn2, body, p {
        font-size: 24px;
    }

    h1 {
        font-size: 74px;
    }

    h2 {
        font-size: 64px;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .footer-column-link, .footer-bottom {
        font-size: 21px;
    }

    iframe {
        height: 60vh;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0.3rem 0.5rem;
    }

    .header-phone {
        margin: 0 2rem;
    }

    .contacts-form p {
        font-size: 18px;
        font-weight: 500;
    }
    .service-mini-title{
        font-size: 35px;
    }
    .service-mini .mini-div{
        width: 40%;
    }
    .service-mini .mini-div2{
        width: 60%;
    }
    .service-mini .mini-div2 img{
        margin-top: 2rem;
    }
    .border-service-mini{
        padding: 3%;
    }
}

@media (max-width: 1599px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: .3rem 0.5rem;
        margin: 0 1.0rem;
    }

    .contacts-form p {
        font-size: 20px;
        font-weight: 400;
    }
    .contacts-form input{
        font-size: 20px;
    }

}

@media (min-width: 991px) and (max-width: 1280px) {
    .footer-bottom {
        font-size: 14px;
    }
    .contacts-form p{
        font-size: 19px;
        font-weight: 400;
    }
    .contacts-form input{
        font-size: 19px;
    }
    h2{
        font-size: 42px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: .3rem 0.2rem;
        margin: 0 0.5rem;
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 28px;
    }

    .default-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-middle ul {
        padding-left: 0;
    }

    #footer ul li {
        padding: 5px 0;
    }

    .footer-logo {
        font-size: 24px;
    }

    .navbar-toggler {
        background: #fff;
    }

    .navbar-toggler-icon {
        height: 100%;
    }

    .offcanvas-start {
        width: 300px;
    }

    #home-second-sec li {
        padding: 5px 0;
    }

    .base-btn1, .base-btn2 {
        margin-top: 1em;
    }

    #offcanvasNavbar .nav-link, .navbar-expand-lg .navbar-nav .nav-link {
        margin: 8px 1rem;
        font-size: 16px;
    }

    #offcanvasNavbar .base-btn1 {
        margin-top: 30%;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 28px;
    }

    .default-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-middle ul {
        padding-left: 0;
    }

    #footer ul li {
        padding: 5px 0;
    }

    .footer-logo {
        font-size: 24px;
    }

    .navbar-toggler {
        background: #fff;
    }

    .navbar-toggler-icon {
        height: 100%;
    }

    .offcanvas-start {
        width: 300px;
    }

    #home-second-sec li {
        padding: 5px 0;
    }

    .base-btn1, .base-btn2 {
        margin-top: 1em;
    }

    #offcanvasNavbar .nav-link, .navbar-expand-lg .navbar-nav .nav-link {
        margin: 8px 1rem;
        font-size: 16px;
    }

    #offcanvasNavbar .base-btn1 {
        margin-top: 30%;
    }

    #footer {
        padding-top: 10%;
    }
}

@media (max-width: 420px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 18px;
    }

    .default-padding {
        padding-left: 2px;
        padding-right: 2px;
    }

    .offcanvas-start {
        width: 250px;
    }

    #footer ul li {
        padding: 2px 0;
    }

    .footer-logo {
        font-size: 18px;
    }

    .base-btn1, .base-btn2 {
        margin-top: 0.5em;
    }

    .footer-bottom span {
        display: block;
        margin: 0 auto !important;
        padding: 7px 0;
        text-align: center;
        width: 100%;
    }

    .footer-logo {
        display: block;
        text-align: center;
    }

    .footer-column-link {
        font-size: 11px;
    }

    .service-mini .mini-div {
        width: 100%;
    }

    .mini-container {
        display: block;
    }

    #footer {
        padding-top: 20%;
    }

    .bottom-convex {
        padding-bottom: 10%;
    }

    .service-mini-p {
        font-size: 12px;
    }

    .service-mini-title {
        font-size: 15px;
    }

    .base-btn2 {
        font-size: 12px;
    }
}

